<h1 style="font-weight: bolder; font-size: 30px;">Select your Vehicle</h1>
    <div class="row" style="width: 100%; background-color: whitesmoke;">
      <div class="col-12 d-flex justify-content-center">
        <div class="row" style="width: 60%;">
          <div *ngFor="let car of vehicleArray" class="col-md-12" style="margin-bottom: 50px">
            <div class="card" style="width: 100%;">
              <div class="row">
                <div class="col-5 text-center d-flex align-items-center justify-content-center">
                  <img class="card-img-top" src="{{car.image}}" alt="Card image cap" style="width: 350px; height: 220px;">
                  <div class="divider-vertical"></div>  
                </div>  
                <div class="col-7">
                  <div class="card-body text-center">
                    <h1 class="card-title">{{car.type}}</h1>
                    <h4 style="color: gray;" class="card-title">{{car.manufacturer}} {{car.model}} or similar</h4>
                    <div class="row d-flex justify-content-center" style="margin-top: 20px;">
                      <div class="col-3 d-flex justify-content-center" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                        </svg>
                        <p style="margin-left: 10px; font-size: 16px; padding-top: 5px;">{{car.peopleSupport}}</p>
                      </div>
                      <div class="col-3 d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
                          <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        <p style="margin-left: 10px; font-size: 16px; padding-top: 5px;">{{car.peopleSupport}}</p>
                      </div>
                      <div class="col-3 d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                          <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                        </svg>
                        <p style="margin-left: 10px; font-size: 16px; padding-top: 5px;">Yes</p>
                      </div>
                      <div class="col-3 d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-reels" viewBox="0 0 16 16">
                          <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
                          <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                          <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                        </svg>
                        <p style="margin-left: 10px; font-size: 16px; padding-top: 5px;">Yes</p>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 20px; margin-bottom: 10px;">
                      <div class="col-6">
                        <h2>{{car.price | currency}} <span style="color: gray; font-size: 16px;">per day</span></h2>
                      </div>
                      <div class="col-6">
                        <h2>{{car.price * totalDays | currency}} <span style="color: gray; font-size: 16px;">total</span></h2>
                      </div>
                    </div>
                    <button matStepperNext id="selectBtn" type="button" class="btn btn-success w-70" (click)="selectedVehicle(car.type, car.manufacturer, car.model, car.price, car.image)">Select</button>
                  </div>
                </div>
                 
              </div>
            </div>
            <!-- <div class="card border-primary mb-3 mx-auto" style="width: 87%; margin-left: 25px; text-align: center;">
              <div class="d-flex justify-content-center"> 
                <img class="card-img-top" src="{{car.image}}" alt="Card image cap" style="width: 75%; height: 220px;">
              </div>
              <div class="card-body">
                <h1 class="card-title">{{car.type}}</h1>
                <h4 style="color: gray;" class="card-title">{{car.manufacturer}} {{car.model}} or similar</h4>
                <div class="row d-flex justify-content-center">
                  <div class="col-6 d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                    <p style="margin-left: 10px; font-size: 16px; padding-top: 5px;">{{car.peopleSupport}}</p>
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
                      <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <p style="margin-left: 10px; font-size: 16px; padding-top: 5px;">{{car.bagSupport}}</p>
                  </div>
                </div>
                <h2>{{car.price | currency}} <span style="color: gray; font-size: 16px;">per day</span></h2>
                <h2>{{car.price * totalDays | currency}} <span style="color: gray; font-size: 16px;">total</span></h2>
                <button matStepperNext id="selectBtn" type="button" class="btn btn-success w-70" (click)="selectedVehicle(car.type, car.manufacturer, car.model, car.price, car.image)">Select</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
