<h1 style="font-weight: bolder; font-size: 30px;">Select your Vehicle</h1>
    <div class="row d-flex justify-content-center" style="width: 100%;">
      <div class="col-3">
        <mat-sidenav-container>
          <mat-sidenav opened mode="side">
          </mat-sidenav>
          <mat-sidenav-content class="scrollable-content">
            <div>
              <h1 style="text-align: center; font-weight: bold;">Filters</h1>
            </div>
            <mat-divider style="margin-bottom: 20px;"></mat-divider>
            <div>
              <div style="text-align: center;">
                <h1>Price</h1>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="height: 20px; width: 20px; margin-right: 10px; margin-left: 2px;">
                <label class="form-check-label" for="flexCheckDefault" style="padding-top: 4px;">
                  Low to High
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="height: 20px; width: 20px; margin-right: 10px; margin-left: 2px;">
                <label class="form-check-label" for="flexCheckDefault" style="padding-top: 4px;">
                  High to Low
                </label>
              </div>
              <mat-divider style="margin-top: 20px;"></mat-divider>
              <div style="text-align: center; margin-top: 15px;">
                <h1>Number of Passengers</h1>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="height: 20px; width: 20px; margin-right: 10px; margin-left: 2px;">
                <label class="form-check-label" for="flexCheckDefault" style="padding-top: 4px;">
                  2+
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="height: 20px; width: 20px; margin-right: 10px; margin-left: 2px;">
                <label class="form-check-label" for="flexCheckDefault" style="padding-top: 4px;">
                  4+
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="height: 20px; width: 20px; margin-right: 10px; margin-left: 2px;">
                <label class="form-check-label" for="flexCheckDefault" style="padding-top: 4px;">
                  6+
                </label>
              </div>
            </div>
          </mat-sidenav-content>
          
        </mat-sidenav-container>
      </div>
      <div class="col-9">
        <div class="row">
          <div *ngFor="let car of vehicleArray" class="col-md-4">
            <div class="card border-secondary mb-3" style="width: 100%; margin-left: 25px; margin-bottom: 20px; text-align: center;">
              <img class="card-img-top" src="{{car.image}}" alt="Card image cap" style="width: 100%; height: 320px;">
              <div class="card-body">
                <h1 class="card-title">{{car.type}}</h1>
                <h4 style="color: gray;" class="card-title">{{car.manufacturer}} {{car.model}} or similar</h4>
                <div class="row d-flex justify-content-center">
                  <div class="col-6 d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                    <p style="margin-left: 10px; font-size: 16px; padding-top: 5px;">{{car.peopleSupport}}</p>
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
                      <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <p style="margin-left: 10px; font-size: 16px; padding-top: 5px;">{{car.bagSupport}}</p>
                  </div>
                </div>
                <h2>{{car.price | currency}} <span style="color: gray; font-size: 16px;">per day</span></h2>
                <h2>{{car.price * totalDays | currency}} <span style="color: gray; font-size: 16px;">total</span></h2>
                <button id="selectBtn" type="button" class="btn btn-success w-100">Select</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
