#selectBtn {
    width: 150px;
    height: 60px;
    border: 3px solid #ff9d00;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    color: #ff9d00;
    font-size: 1.5em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  }
  
  #selectBtn:hover {
    background: #ff9d00;
    color: white;
    font-size: 1.5em;
  }
  
  svg{
    color: #ff9d00;
    width: 30px;
    height: 30px;
  }