<h1 style="font-weight: bolder; font-size: 30px;">Confirm your Order</h1>
    <div class="container-fluid" style="width: 90%;">
      <div class="row">
        <div class="col-6" style="margin-bottom: 50px;">
          <div class="text-center">
            <h1 style="font-weight: bolder;">Rental Details</h1>
            <div class="card mx-auto" style="width: 18rem;">
              <img class="card-img-top" src="{{ob.carImg}}" alt="Card image cap">
              <div class="card-body">
                <h1 class="card-title">{{ob.carName}} or similar</h1>
                <p class="card-text"><span style="font-weight: bolder;">Pick-up location: </span>{{ob.locationName}} - {{ob.locationAddress}}</p>
                <mat-divider></mat-divider>
                <p class="card-text"><span style="font-weight: bolder;">From: </span>{{ob.formattedStartDate}}</p>
                <p class="card-text"><span style="font-weight: bolder;">To: </span>{{ob.formattedEndDate}}</p>
                <mat-divider></mat-divider>
                <p class="card-text"><span style="font-weight: bolder;">Additionals: </span>{{ob.additionals}}</p>
                <mat-divider></mat-divider>
                <h2 class="card-text"><span style="font-weight: bolder;">Total: </span>{{ob.total}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="text-center">
            <h1 style="font-weight: bolder;">Contact Information</h1>
          </div>
          <form [formGroup]="contactForm">
            <div class="row">
              <div class="col-12">
                <label for="fullname" class="text text-left" style="margin-bottom: 10px; font-size: 20px;">Driver's Full Name:</label>
                <input class="form-control" type="text" placeholder="" name="fullName" formControlName="fullName" style="margin-bottom: 20px;">
              </div>
              <div class="col-12">
                <label for="phone" class="text text-left" style="margin-bottom: 10px; font-size: 20px;">Phone Number (with area code):</label>
                <input type="text" placeholder="" name="phone" class="form-control" formControlName="phone" style="margin-bottom: 20px;">
              </div>
              <div class="col-12">
                <label for="email" class="text text-left" style="margin-bottom: 10px;font-size: 20px;">Email Address:</label>
                <input type="text" placeholder="" name="email" class="form-control" formControlName="email" style="margin-bottom: 20px;">
              </div>
            </div>
          </form>         
        </div>
        <button type="button" class="btn btn-success" style="font-size: 20px;" [disabled]="!contactForm.valid" (click)="confirmOrder()">Confirm</button>
      </div>
    </div>
