.reserve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    background-image: url("https://images.pexels.com/photos/346286/panorama-miami-florida-water-346286.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: 100% 500px;
}

h1, h2{
    color: white;
    font-weight: bolder;
}
  
h3{
    font-size: 30px;
    margin-top: 25px;
}

.side-by-side {
    display: flex;
    margin-bottom: 30px;
}
  
  .side-btn {
    padding: 0.8em 1.8em;
    border: 2px solid #ff9d00;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #ff9d00;
    margin-right: 50px;
   }
   
   .side-btn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(25deg);
    background: #ff9d00;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .side-btn:hover::before {
    width: 105%;
   }
   
   .side-btn:hover {
    color: #ffffff;
   }
  
   svg{
        height: 50px;
        width: 50px;
        color: white;
   }

   .location svg{
    height: 20px;
    width: 20px;
   }

   .features{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

}

.feature-box {
    text-align: center;
}

.feature-box h1{
    margin-top: 15px;
    color: black;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.vl {
    border-left: 6px solid green;
    height: 100px;
  }


//   modal

.loader {
    width: 65px;
    height: 65px;
    border: 8px solid #ee9b00a6;
    border-radius: 50px;
    position: relative;
   }
   
   .loader span {
    display: block;
    background: #ee9b00;
   }
   
   .loader .hour ,
   .loader .min {
    width: 6px;
    height: 22px;
    border-radius: 50px;
    position: absolute;
    top: 24.5px;
    left: 21px;
    animation: load9243 1.2s linear infinite;
    transform-origin: top center;
   }
   
   .loader .min {
    height: 17px;
    animation: load9243 4s linear infinite;
   }
   
   .loader .circel {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: 19px;
    left: 19px;
   }
   
   @keyframes load9243 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }