
<!-- RESERVE -->
<div class="reserve">
    <h1 style="font-size: 40px; color: #ff9d00;">Reserve a Vehicle</h1>
    <h2>Pick-up and Return Date</h2>
    <mat-form-field color="primary">
        <mat-label>Pick-up and Return Date</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker" style="color: #ff9d00;"></mat-datepicker-toggle>
        <mat-date-range-picker #picker style="color: #ff9d00;"></mat-date-range-picker>
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
    <div class="input-container">
        <div class="side-by-side">
            <div class="input-wrapper" style="margin-right: 20px;">
                <h2>Location</h2>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Location">
                <div class="underline"></div>
            </div>
            <div class="input-wrapper" style="margin-left: 20px;">
                <h2>Driver's Age</h2>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Driver's Age">
                <div class="underline"></div>
            </div>
        </div>
    </div>
    <button type="button" class="side-btn">Browse Vehicles</button>  
</div>

<!-- CLIENTS -->
<div class="clients" style="background-color: #ff9d00; margin-bottom: 40px;">
    <div class="d-flex justify-content-center" style="padding-top: 30px;">
        <h1 style="font-size: 40px; color: black;">Join the #1 Car Rental of the USA</h1>
    </div>
    <div class="row justify-content-center" style="margin-top: 30px;">
        <div class="col d-flex justify-content-center flex-column">
            <div class="text-center">
                <h1 style="color: white; font-size: 60px;">4M+</h1>
                <h3 style="margin-top: 40px; font-size: 30px;">Clients worldwide</h3>
            </div>
        </div>
        <div class="col d-flex justify-content-center flex-column">
            <div class="text-center">
                <h1 style="color: white; font-size: 60px;">6M</h1>
                <h3 style="margin-top: 40px; font-size: 30px;">Complimentary upgrades issued in 2022</h3>
            </div>
        </div>
        <div class="col d-flex justify-content-center flex-column">
            <div class="text-center">
                <h1 style="color: white; font-size: 60px;">3.8M</h1>
                <h3 style="margin-top: 40px; font-size: 30px;">Free rental car days redeemed in 2022</h3>
            </div>
        </div>
        <div class="col d-flex justify-content-center flex-column">
            <div class="text-center">
                <h1 style="color: white; font-size: 60px;">2.0M</h1>
                <h3 style="margin-top: 40px; font-size: 30px;">5-Start ratings on Google</h3>
            </div>
        </div>
    </div>
    <div class="row features" style="background-color: #ff9d00;">
        <div class="feature-box col-lg-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
                <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
              </svg>
            <h3>Best Premium Cars</h3>
          </div>
          <div class="feature-box col-lg-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
                <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z"/>
              </svg>
            <h3>In Every Major Airport</h3>
          </div>
          <div class="feature-box col-lg-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
            </svg>
            <h3>Best Price Garanteed</h3>
          </div>
          <div class="feature-box col-lg-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
              </svg>
            <h3>Free on Road Assistance!</h3>
          </div>
    </div>
</div>

<!-- FLEET -->
<div class="row">
    <div class="d-flex justify-content-center">
        <h1 style="color: black; margin-top: 40px; font-size: 40px;">Meet the Fleet</h1>
    </div>
    <div class="row justify-content-center" style="padding-bottom: 40px;">
        <div class="col-auto" *ngFor="let item of fleetArray; let i = index" style="margin-bottom: 20px;">
          <img src="{{ item.img }}" alt="" style="height: 200px; width: 350px;">
          <div class="d-flex justify-content-center" style="margin-top: 15px;">
              <h1 style="color: black;">{{item.type}}</h1>
          </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="row">
    <div class="d-flex justify-content-center">
        <h1 style="color: black; margin-top: 40px; font-size: 40px;">Freaquently Asked Questions</h1>
    </div>
</div>

  
  
