<mat-stepper #stepper>
  <mat-step>
    <h1>Select your Location</h1>
    <div class="row">
      <div class="col-3">
        <mat-sidenav-container>
          <mat-sidenav opened mode="side">
          </mat-sidenav>
          <mat-sidenav-content class="scrollable-content">
            <div class="sidenav-content">
              <div class="card" style="width: 90%;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
      <div class="col-9">
        <div id="map"></div>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <h1>Select your Vehicle</h1>
  </mat-step>
  <mat-step>
    <h1>Checkout</h1>
  </mat-step>
</mat-stepper>
