#map {
    height: 700px;
    width: 90%
  }

  .sidenav-content {
    height: 100%;
    overflow-y: auto;
  }
  
  .sidenav-wrapper {
    height: 100%;
    overflow-y: auto;
  }
  
  .sidenav-content {
    padding: 16px;
  }

  .scrollable-content {
    height: calc(79vh - 64px); /* Adjust the height as needed */
    overflow-y: auto;
  }