.custom-navbar{
    background-color: #000000;
}

img{
    height: 80px;
    width: 240px;
    margin-left: 30px;
}

.side-btn {
    padding: 0.8em 1.8em;
    border: 2px solid #ff9d00;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #ffffff;
    margin-right: 50px;
   }
   
   .side-btn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #ff9d00;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .side-btn:hover::before {
    width: 105%;
   }
   
   .side-btn:hover {
    color: #ffffff;
   }
   
   .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 157, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler {
    border-color: rgb(255, 157, 0)
  }